{% extends "base.html" %}

{% block title %}
Assign Staff
{% endblock %}

{% block content %}

<div class="row justify-content-center">


<div class="col-md-6">

    <div class="card">

        <div class="card-header">
            <h3>Assign Staff</h3>
        </div>

        <div class="card-body">

            <h5 class="mb-3">
                Trek: {{ trek.trek_name }}
            </h5>

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">
                        Select Staff Member
                    </label>

                    <select name="staff_id"
                            class="form-select">

                        {% for staff in staff_members %}

                            <option value="{{ staff.id }}">
                                {{ staff.name }}
                            </option>

                        {% endfor %}

                    </select>

                </div>

                <button type="submit"
                        class="btn btn-primary">
                    Assign Staff
                </button>

                <a href="/admin-treks"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </form>

        </div>

    </div>

</div>

</div>

{% endblock %}
